uxspeaker/WebContent/wsdl/WebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.ux.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.ux.com" xmlns:intf="http://ws.ux.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.ux.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="send">
    <complexType>
     <sequence>
      <element name="classname" type="xsd:string"/>
      <element maxOccurs="unbounded" name="params" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendResponse">
    <complexType>
     <sequence>
      <element name="sendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendRequest">

      <wsdl:part element="impl:send" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendResponse">

      <wsdl:part element="impl:sendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceImpl">

      <wsdl:operation name="send">

         <wsdl:input message="impl:sendRequest" name="sendRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendResponse" name="sendResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceImplSoapBinding" type="impl:WebServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="send">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceImplService">

      <wsdl:port binding="impl:WebServiceImplSoapBinding" name="WebServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/uxspeaker/services/WebServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
